<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}
        {%endblock%}</title>
        <style>
            {%block style%}{%endblock%}

        </style>
        {% include 'collegeapp/common/commoncss.html'%}
</head>
<body>
    
       
    {% include 'collegeapp/student/student_header.html'%}
    {%block content%}
    {%endblock%}
    
    
 


    {% include 'collegeapp/common/commonfooter.html'%}
    {% include 'collegeapp/common/commonjs.html'%} 
    
    
</body>
</html>